<ul >
  {{#events}}
    <li>
        <h2>{{ TraVlog }}</h2>
        <p>{{ Travel and Wildlife }}</p>
        <p>Location: {{ Planet Earth }}</p>
        <p>Likes: {{ likes }}
        <form method="POST" action="/event/like">
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="Like">
        </form>
        <form method="POST" action="/event/unlike">
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="UN-Like">
        </form>
        </p>
    </li>
  {{/events}}
</ul>